<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../css/home.css" rel="stylesheet" type="text/css">
<script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline = "javascript">
        $(document).ready(function(){
            /*console.log([[${isExist}]]);
            console.log([[${theUser}]]);*/
            if([[${isExist}]]==true){
                $("#userhead").text([[${theUser.username}]]);
                $("#userdrag").append("<li><a href=\"/user\">用户中心</a></li>");
                $("#userdrag").append("<li><a id = \"logout\">登出</a></li>");
                $("#userprofile").attr("src", "../img/profile/user_" + [[${theUser.getProfile()}]]);
                $("#logout").click(function () {
                    $.removeCookie('userid',{ path: '/'});
                    $.removeCookie('userpassword',{ path: '/'});
                    $(location).attr('href', '../');
                });
            }else{
                $("#userhead").text("用户");
                $("#userdrag").append("<li><a href=\"/user/loginuser\">登录</a></li>");
                $("#userdrag").append("<li><a href=\"/user/insertuser\">注册</a></li>");
            }
        });
    </script>
</head>
<body>
<div class="top">
    <ul>
        <li><a href="../">首页</a></li>
        <li><a>课程中心</a>
            <ul>
                <li><a href="../course">选课中心</a></li>
                <li><a href="../chapter">已选课程</a></li>
                <li><a href="../course/manage">课程管理</a></li>
            </ul>
        </li>
        <li><a style="background-color: grey;">考试中心</a>
            <ul>
                <li><a href="../exam">我的考试</a></li>
                <li><a href="../exam/manage">考试管理</a></li>
            </ul>
        </li>
        <li><a>学习记录</a>
            <ul>
                <li><a href="../progress">学习进度</a></li>
                <li><a href="../score">成绩查询</a></li>
            </ul>
        </li>
        <li style="float: right">
            <a id = "userhead"></a>
            <ul style="right:0" id = "userdrag" >
            </ul>
        </li>
        <li style="float: right">
            <img id = "userprofile" src = "../img/profile/user_0.png" class="img-circle" style="width: 40px; height: 40px; margin-top: 5px; margin-left: 50px"/>
        </li>
    </ul>
</div>
<div class="mainpage">
    <h3 class="page-header">教授课程列表</h3>
    <h5 style="color:#aaa; margin-top:10px">Teachering Course List</h5>
    <table id = "scoretable" class="table table-condensed table-hover table-striped" >
        <tr>
            <td>课程号</td>
            <td>课程名</td>
            <td>授课老师id</td>
            <td>授课老师</td>
            <td>课容量</td>
            <td>管理</td>
        </tr>
        <tr class = "courselist" th:each="crs:${courselist}">
            <td th:text="${crs.getCourseid()}"></td>
            <td th:text="${crs.getCoursename()}"></td>
            <td th:text="${crs.getTeacherid()}"></td>
            <td th:text="${crs.getTeachername()}"></td>
            <td th:text="${crs.getMax()}"></td>
            <td>
                <form th:action="@{/exam/manageexam}" th:method="post">
                    <input type="hidden" name="courseid" th:value = "${crs.getCourseid()}"/>
                    <button type="submit" class="btn btn-primary">管理</button>
                </form>
            </td>

        </tr>
    </table>

</div>

</body>
</html>